@page "/"
@using Humanizer
@using SilverBotDS.Objects
@using DSharpPlus
@using System.Diagnostics
@inject Config _config
@inject DiscordClient _discord
<body>
<h2>Wasting time in @_discord.Guilds.Count servers</h2>
<h2>I have been up for @((DateTime.UtcNow - Process.GetCurrentProcess().StartTime.ToUniversalTime()).Humanize())</h2>
<h2>With @_discord.ShardCount @(_discord.ShardCount == 1 ? "shard" : "shards") and @(Process.GetCurrentProcess().Threads.Count) cpu @(Process.GetCurrentProcess().Threads.Count == 1 ? "thread" : "threads")</h2>
</body>